<empty name="buyinfolist">
    <p class="goods_title">抱歉暂时没有相关结果！</p>
<else />
<form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <td class="text-center">
                    购买时间
                </td>

                <td class="text-center">
                    用户名
                </td>

                <td class="text-center">
                    用户昵称
                </td>

                <td class="text-center">
                    小说名
                </td>

                <td class="text-center">
                    章节名
                </td>

                <td class="text-center">
                    购买价格({$egold_name})
                </td>

                <td class="text-center">
                    购买数量
                </td>

                <td class="text-center">
                    渠道名称
                </td>
            </tr>
            </thead>
            <tbody>
            <volist name="buyinfolist" id="buyinfo">
                <tr>
                    <td class="text-center">
                        {$buyinfo.buytime}
                    </td>

                    <td class="text-center">
                        {$buyinfo.uname}
                    </td>

                    <td class="text-center">
                        {$buyinfo.name}
                    </td>

                    <td class="text-center">
                        {$buyinfo.obookname}
                    </td>

                    <td class="text-center">
                        {$buyinfo.chaptername}
                    </td>

                    <td class="text-center">
                        {$buyinfo.buyprice}
                    </td>

                    <td class="text-center">
                        {$buyinfo.buynum}
                    </td>

                    <td class="text-center">
                        {$buyinfo.channelname}
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</form>
<div class="row">
    <div class="col-sm-3 text-left"></div>
    <div class="col-sm-9 text-right">{$page}</div>
</div>
</empty>
<script>

    // 点击分页触发的事件
    $(".pagination  a").click(function()
    {
        cur_page = $(this).data('p');

        ajax_get_table('search-form2',cur_page);
    });

    // 点击排序
    function sort(field)
    {
        $("input[name='orderby1']").val(field);
        var v = $("input[name='orderby2']").val() == 'desc' ? 'asc' : 'desc';
        $("input[name='orderby2']").val(v);

        ajax_get_table('search-form2',cur_page);
    }
</script>