

<include file="Public/min-header"/>

<div class="wrapper">
    <style>#search-form > .form-group{margin-left: 10px;}</style>
    <!-- Main content -->
    <if condition="$Think.cookie.pid eq 0">
    <div class="btn-group" style="margin-left: 30px;margin-top: 20px;">
    <a style="" href="/Channel/addSchannel.html" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>添加代理</a></div>
    <else/>
    </if>
    <section class="content">
        <!--主渠道信息-->
        <div class="container-fluid">
        
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-list"></i>
                        渠道汇总
                    </h3>
                </div>

                <div class="panel-body">
                    <empty name="channelSelf">
                        <p class="goods_title">抱歉暂时没有相关结果！</p>
                        <else />
                        <form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" style="margin-bottom:-10px;">
                                    <thead>
                                    <tr>
                                         <!-- <td class="text-center">
                                            ID
                                        </td>-->
                                        <td class="text-center">
                                            创建时间
                                        </td>
                                        <td class="text-center">
                                            账号名(登录用)
                                        </td>
                                        <if condition="($Think.cookie.permissions eq 0)">
                                        <else/>
                                        <td class="text-center">
                                            代理名称
                                        </td>
                                        </if>
                                        <td class="text-center">
                                            佣金比例
                                        </td>
                                        <!-- <td class="text-right">
                                            今日充值金额
                                        </td>
                                        <td class="text-center">
                                            今日新增用户
                                        </td>

                                        <td class="text-right">
                                            今日新增关注
                                        </td>

                                        <td class="text-center">
                                            新增用户
                                        </td>

                                        <td class="text-right">
                                            新增关注
                                        </td> -->

                                        <!-- <td class="text-center">
                                            成本
                                        </td> -->

                                        <td class="text-right">
                                            总充值金额
                                        </td>

                                        <td class="text-center">
                                            操作
                                        </td>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="channelSelf" id="list">
                                        <tr>
                                            <!-- <td class="text-center">
                                                {$list.channelid}
                                            </td>-->
                                            <td class="text-center">
                                                {$list.posttime|date="Y-md H:i:s",###}
                                            </td>
                                            <td class="text-center">
                                                
                                                {$list.uname}
                                                
                                            </td>
                                            <if condition="($Think.cookie.permissions eq 0)">
                                            <else/>
                                            <td class="text-center">
                                                <a href="{:U('Admin/channel/ptList',array('id' => $list['channelid']))}">
                                                    <span  style="font-size:14px;">{$list.channelname}</span>
                                                </a>
                                            </td>
                                            </if>
                                             <td class="text-center">
                                                <span  style="font-size:14px;">{$list.proportion}</span>
                                            </td>


                                            <!-- <td class="text-right">
                                                <span  style="font-size:14px;">{$list.todaypaylogsum}</span>
                                                <p style="color:#aaa;font-size:12px;margin-top:4px;">{$list.todaypaylogcount}笔</p>
                                            </td>

                                            <td class="text-center">
                                                <span  style="font-size:14px;">{$list.todayusersum}</span>
                                            </td>

                                            <td class="text-right">
                                                <span  style="font-size:14px;">{$list.todayfollowusersum}</span>
                                                <p style="color:#aaa;font-size:12px;margin-top:4px;">关注率 {$list['todayfollowusersum']/$list['todayusersum']*100|round=###,0}%</p>
                                            </td>

                                            <td class="text-center">
                                                <span  style="font-size:14px;">{$list.usersum}</span>
                                            </td>

                                            <td class="text-right" style="font-size:16px;">
                                                <span  style="font-size:14px;">{$list.followusersum}</span>
                                                <p style="color:#aaa;font-size:12px;margin-top:4px;">关注率 {$list['followusersum']/$list['usersum']*100|round=###,0}%</p>
                                            </td> -->

                                            <!-- <td class="text-center">
                                                <span  style="font-size:14px;">{$list.cost}</span>
                                            </td> -->

                                            <td class="text-right">
                                                <!-- {$list['paidmoney']/$list['proportion']+$list['remainmoney']|round=###,2} -->
                                                <span  style="font-size:14px;">{$list.paylogsum}</span>
                                                <p style="color:#aaa;font-size:12px;margin-top:4px;"> {$list.paylogcount}笔</p>
                                            </td>

                                            <td class="text-center">
											<if condition="$Think.cookie.permissions eq 0">
                                                <a href="{:U('Admin/Channel/editSChannel',array('id' => $list['channelid']))}" data-toggle="tooltip" title="" class="btn btn-success" data-original-title="编辑信息" target="rightContent">
                                                    <span>编辑</span>
                                                </a>

                                                <a href="{:U('Channel/remainMoney',array('channelid'=>$list['channelid']))}" data-toggle="tooltip" title="" class="btn btn-success" data-original-title="结算统计" target="rightContent">
                                                    <span>结算</span>
                                                </a>
											</if>
                                                <a href="{:U('Admin/User/channelPayLogListByChannleID',array('id' => $list['channelid']))}" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="查看详情" target="rightContent">
                                                    <span>订单</span>
                                                </a>
                                                <!-- <a href="{:U('Admin/User/channelUserListByChannleID',array('id' => $list['channelid']))}" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="查看详情" target="rightContent">
                                                    <span>用户</span>
                                                </a> -->
												
												<a href="{:U('Admin/Channel/dataStatisticsByChannelid',array('id' => $list['channelid']))}" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="查看详情" target="rightContent">
													<span>数据统计</span>
												</a>

												<a href="{:U('Admin/channel/ptList',array('id' => $list['channelid']))}" data-toggle="tooltip" title="" class="btn btn-warning" data-original-title="查看详情" target="rightContent">
													<span>推广链接</span>
												</a>

                                            </td>
                                        </tr>
                                    </volist>
                                    </tbody>
                                </table>
                            </div>
                            <input type="hidden" name="channelid" value="{$channelid}"/>
                        </form>
                        <div class="row">
                            <div class="col-sm-3 text-left"></div>
                            <div class="col-sm-9 text-right">{$page}</div>
                        </div>
                    </empty>
                </div>
            </div>
        </div>

        <!--渠道列表-->
        <div class="container-fluid">
            <if condition="$Think.cookie.pid eq 0">
                <div class="panel panel-default">
                    <div class="panel-heading"  style="padding: 5px 15px">
                        <strong class="panel-title">
                            <i class="fa fa-list"></i>
                            代理列表
                        </strong>

                        <form action="" id="search-form2" class="navbar-form form-inline" style="display: inline-block;margin-left:50px;height: 40px;margin-top: 0px; margin-bottom:0px;padding: 0px; " method="post" onsubmit="return false">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="keyword" value="" placeholder="账户名/渠道名" id="input-order-id" class="form-control">
                                </div>
                            </div>
                            <button type="submit" onclick="ajax_get_table('search-form2',1,0)" id="button-filter search-order" class="btn btn-primary">
                                <i class="fa fa-search"></i> 筛选
                            </button>
                            <input type="hidden" name="channelid" value="{$channelid}"/>
                            <!-- <input type="hidden" name="orderby1" value='posttime'>
                            <input type="hidden" name="orderby2" value='desc'> -->
                        </form>
                    </div>

                    <div class="panel-body">
                        <div id="ajax_return_channel"></div>
                    </div>
                </div>
            </if>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
   function getCookie(c_name)
    {
        if (document.cookie.length>0)
        {
            c_start=document.cookie.indexOf(c_name + "=")
            if (c_start!=-1)
            {
                c_start=c_start + c_name.length+1
                c_end=document.cookie.indexOf(";",c_start)
                if (c_end==-1) c_end=document.cookie.length
                return unescape(document.cookie.substring(c_start,c_end))
            }
        }
        return "";
    }

    function setCookie(c_name,value,expiredays)
    {
        var exdate=new Date()
        exdate.setDate(exdate.getDate()+expiredays)
        document.cookie=c_name+ "=" +escape(value)+
            ((expiredays==null) ? "" : ";expires="+exdate.toGMTString())
    }

    $(document).ready(function()
    {
        // ajax 加载商品列表
         var page=1;
        var cookiepage=getCookie('pg');
        if(cookiepage>1){
            page =cookiepage;
        }
        ajax_get_table('search-form2',page);
        //ajax_get_table('form-order',1);

        
    });

    $(".pagination  a").click(function()
    {
        cur_page = $(this).data('p');
        setCookie('pg',cur_page,1);
        ajax_get_table('search-form2',cur_page);
    });

    // ajax 抓取页面 form 为表单id  page 为当前第几页
    function ajax_get_table(form,page,ischannel)
    {
        cur_page = page; //当前页面 保存为全局变量
        dd = $('#' + form).serialize();
        //alert(dd)
        $.ajax(
            {
                type    : "POST",
                url     : "/index.php?m=Admin&c=Channel&a=ajaxChannelListCombine&p="+page,
                data    : $('#' + form).serialize(),// 你的formid

                success : function(data)
                {
                    $("#ajax_return_channel").html('');

                    $("#ajax_return_channel").append(data);
                },
                error   : function(data)
                {
                    alert('error -- data = ' + data.responseText);
                }
            });
    }



    // 删除操作
    function del(id)
    {
        if(!confirm('确定要删除吗?'))
        {
            return false;
        }

        $.ajax(
            {
                url     : "/index.php?m=Admin&c=Channel&a=delChannel&id="+id,
                success : function(v)
                {
                    var v =  eval('('+v+')');

                    if(v.hasOwnProperty('status') && (v.status == 1))
                    {
                        ajax_get_table('search-form2',cur_page);
                    }
                    else
                    {
                        layer.msg(v.msg, {icon: 2,time: 1000}); //alert(v.msg);
                    }
                }
            });

        return false;
    }
  // 点击排序
    function sort(field)
    {
        $("input[name='orderby1']").val(field);
        var v = $("input[name='orderby2']").val() == 'desc' ? 'asc' : 'desc';
        $("input[name='orderby2']").val(v);

        ajax_get_table('search-form2',1);
    }

 

 
</script>
</body>
</html>