<empty name="channelList">
    <p class="goods_title">抱歉暂时没有相关结果！</p>
<else />
<form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <td class="text-center">
                    ID
                </td>

                <td class="text-center">
                    渠道名称
                </td>

                <td class="text-center">
                    充值完成总数
                </td>

                <td class="text-center">
                    充值未完成总数
                </td>

                <td class="text-center">
                    今日充值完成总数
                </td>

                <td class="text-center">
                    今日充值未完成总数
                </td>

                <td class="text-center">
                    操作
                </td>
            </tr>
            </thead>
            <tbody>
            <volist name="channelList" id="list">
                <tr>
                    <td class="text-center">
                        {$list.channelid}
                    </td>

                    <td class="text-center">
                        {$list.channelname}
                    </td>

                    <td class="text-center">
                        {$list.paylogsum}
                    </td>

                    <td class="text-center">
                        {$list.unpaylogsum}
                    </td>

                    <td class="text-center">
                        {$list.todaypaylogsum}
                    </td>

                    <td class="text-center">
                        {$list.todayunpaylogsum}
                    </td>

                    <td class="text-center">
                        <a href="{:U('Admin/User/channelPayLogListByChannleID',array('id' => $list['channelid']))}" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="查看详情" target="rightContent">
                            <span>查看渠道充值记录</span>
                        </a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</form>
<div class="row">
    <div class="col-sm-3 text-left"></div>
    <div class="col-sm-9 text-right">{$page}</div>
</div>
</empty>
<script>
    // 点击分页触发的事件
    $(".pagination  a").click(function()
    {
        cur_page = $(this).data('p');

        ajax_get_table('search-form2',cur_page);
    });
</script>