<empty name="payloglist">
    <p class="goods_title">抱歉暂时没有相关结果！</p>
    <else />
    <form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <td class="text-center">
                        <!-- <a href="javascript:sort('buytime');">充值时间</a> -->
						充值时间
                    </td>

                    <td class="text-center">
                        用户名(ID)
                    </td>

                    <td class="text-center">
                        <!-- <a href="javascript:sort('money');">充值金额(元)</a> -->
						充值金额(元)
                    </td>
					
					<td class="text-center">
						余额(小说币)
					</td>
                    <!-- <td class="text-center">
                        <a href="javascript:sort('egold');">充值数量({$egold_name})</a>
                    </td> -->

                    <td class="text-center">
                        <!-- <a href="javascript:sort('paytype');">充值方式</a> -->
						充值方式
                    </td>

                    <td class="text-center">
                        <!-- <a href="javascript:sort('payflag');">充值状态</a> -->
						充值状态
                    </td>

                    <td class="text-center">
                        <!-- <a href="javascript:sort('payflag');">渠道名称</a> -->
						渠道名称
                    </td>

                    <if condition = "$Think.cookie.permissions eq 1">
                        <td class="text-center">
                            操作
                        </td>
                    </if>
                </tr>
                </thead>
                <tbody>
                <volist name="payloglist" id="paylog">
                    <tr>
                        <td class="text-center">
                            {$paylog.buytime}
                        </td>

                        <td class="text-center">
                            <if condition="($Think.cookie.cpid eq 0)OR($Think.cookie.permissions eq 1)">
                            <a href="/User/userSearch/userid/{$paylog['buyid']}">{$paylog.nickname}({$paylog['buyid']})</a>
                        <else/>
                            {$paylog.nickname}({$paylog['buyid']})
                        </if>
                        </td>

                        <td class="text-center">
                            {$paylog.money}
                        </td>
						
						<td class="text-center">
							{$paylog.balance}
						</td>

                        <!-- <td class="text-center">
                            <if condition="$paylog.money eq 365">
                            VIP年费会员
                            <else/>
                            {$paylog.egold}
                        </if>
                        </td> -->

                        <td class="text-center">
                            {$paylog.paytype}
                        </td>

                        <td class="text-center">
                            {$paylog.flag}
                        </td>

                        <td class="text-center">
                            {$paylog.ptname}
                        </td>

                        <if condition = "$Think.cookie.permissions eq 1">
                            <td class="text-center">
                                <a href="javascript:void(0);" onclick="del('{$paylog['payid']}')" id="button-delete6" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="删除记录">
                                    <span>删除记录</span>
                                </a>
                            </td>
                        </if>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-3 text-left"></div>
        <div class="col-sm-9 text-right">{$page}</div>
    </div>
</empty>
<script>

    // 点击分页触发的事件
    $(".pagination  a").click(function()
    {
        cur_page = $(this).data('p');

        ajax_get_table('search-form2',cur_page);
    });

    // 删除操作
    function del(id)
    {
        if(!confirm('确定要删除吗?'))
        {
            return false;
        }

        $.ajax(
            {
                url     : "/index.php?m=Admin&c=User&a=delPayLog&id="+id,
                success : function(v)
                {
                    var v =  eval('('+v+')');

                    if(v.hasOwnProperty('status') && (v.status == 1))
                    {
                        ajax_get_table('search-form2',cur_page);
                    }
                    else
                    {
                        layer.msg(v.msg, {icon: 2,time: 1000}); //alert(v.msg);
                    }
                }
            });

        return false;
    }
</script>