<if condition = "$Think.cookie.permissions eq 0">
    <include file="Public/header" />
</if>

<include file="Public/min-header"/>

<div class="wrapper">
    <if condition = "$ischannel neq 1">
        <include file="Public/breadcrumb"/>
    </if>

    <if condition = "$ischannel eq 1">
       <div style="margin:10px 30px 120px 10px;width: 100%;height: 100px;padding: 5px;">
           <div class="col-md-3 col-sm-6 col-xs-12">
               <div class="info-box">
						<span class="info-box-icon bg-orange">
							<i class="fa fa-money"></i>
						</span>
                   <div class="info-box-content">					
						<span class="info-box-text">当日充值</span>
						<span class="info-box-number">{$payInfo['daypaySum']}</span>
						<p style="color:#aaa;font-size:12px;">笔数 {$payInfo['dayPayCount']}</p>
                   </div>
               </div>
           </div>
		   
		   <div class="col-md-3 col-sm-6 col-xs-12">
               <div class="info-box">
						<span class="info-box-icon bg-orange">
							<i class="fa fa-money"></i>
						</span>
                   <div class="info-box-content">
                       <span class="info-box-text">昨日充值</span>
                       <span class="info-box-number">{$payInfo['yeaterdayPaySum']}</span>
					   <p style="color:#aaa;font-size:12px;">笔数 {$payInfo['yeaterdayPayCount']}</p>
                   </div>
               </div>
           </div>

           <div class="col-md-3 col-sm-6 col-xs-12">
               <div class="info-box">
						<span class="info-box-icon bg-orange">
							<i class="fa fa-money"></i>
						</span>
                   <div class="info-box-content">
                       <span class="info-box-text">本月充值</span>
                       <span class="info-box-number">{$payInfo['monthPaySum']}</span>
                       <p style="color:#aaa;font-size:12px;">笔&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数 {$payInfo['monthPayCount']}</p>
					   <p style="color:#aaa;font-size:12px;margin-top: -10px;margin-bottom: -10px;">充值人数 {$payInfo['monthPayPeopleNum']}</p>
                   </div>
               </div>
           </div>

           <div class="col-md-3 col-sm-6 col-xs-12">
               <div class="info-box">
						<span class="info-box-icon bg-blue">
							<i class="fa fa-tags"></i>
						</span>
                   <div class="info-box-content">
                       <span class="info-box-text">累计充值</span>
                       <span class="info-box-number">{$payInfo['sumPay']}</span>
                       <p style="color:#aaa;font-size:12px;">笔&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数 {$payInfo['sumPayCount']}</p>
					   <p style="color:#aaa;font-size:12px;margin-top: -10px;margin-bottom: -10px;">充值人数 {$payInfo['sumPayPeopleNum']}</p>
                   </div>
               </div>
           </div>

           <!-- <div class="col-md-3 col-sm-6 col-xs-12">
               <div class="info-box">
						<span class="info-box-icon bg-blue">
							<i class="fa fa-tags"></i>
						</span>
                   <div class="info-box-content">
                       <span class="info-box-text">累计成本</span>
                       <span class="info-box-number">{$cost}</span>
                   </div>
               </div>
           </div>

           <div class="col-md-3 col-sm-6 col-xs-12">
               <div class="info-box">
						<span class="info-box-icon bg-pink">
							<i class="fa fa-tags"></i>
						</span>
                   <div class="info-box-content">
                       <span class="info-box-text">总利润</span>
                       <span class="info-box-number">{$sumPay-$cost}</span>
                   </div>
               </div>
           </div>

           <div class="col-md-3 col-sm-6 col-xs-12" style="visibility: hidden">
               <div class="info-box">
               </div>
           </div> -->

           <div class="col-md-3 col-sm-6 col-xs-12">
               <div class="info-box">
                    <span class="info-box-icon bg-green">
                        <i class="fa fa-user-plus"></i>
                    </span>
                   <div class="info-box-content">
                       <span class="info-box-text">今日新增关注</span>
                       <span class="info-box-number">{$channel.todayfollowusersum}</span>
					   <p style="color:#aaa;font-size:12px;">关注率 {$channel['todayfollowusersum']/$curDayReader*100|round=###,0}%</p>
                   </div>
               </div>
           </div>

           <div class="col-md-3 col-sm-6 col-xs-12">
               <div class="info-box">
                    <span class="info-box-icon bg-yellow">
                        <i class="fa fa-user"></i>
                    </span>
                   <div class="info-box-content">
                       <span class="info-box-text">今日新增用户</span>
                       <span class="info-box-number">{$curDayReader}</span>
					   <p style="color:#aaa;font-size:12px; float:right;margin-top:20px;">今日签到:{$daysign}<p/>
                   </div>
               </div>
           </div>

           <div class="col-md-3 col-sm-6 col-xs-12">
               <div class="info-box">
                   <span class="info-box-icon bg-orange">
                       <i class="fa fa-user"></i>
                   </span>
                   <div class="info-box-content">
                       <span class="info-box-text">累计关注</span>
                       <span class="info-box-number">{$allFocus}</span>
					   <p style="color:#aaa;font-size:12px;">关注率 {$allFocus/$channel['usersum']*100|round=###,0}%</p>
                   </div>
               </div>
           </div>

           <!-- <div class="col-md-3 col-sm-6 col-xs-12">
               <div class="info-box">
                    <span class="info-box-icon bg-blue-active">
                        <i class="fa fa-money"></i>
                    </span>
                   <div class="info-box-content">
                       <span class="info-box-text">待结算</span>
                       <span class="info-box-number"> {$channel['remainmoney']*$channel['proportion']|round=###,2}</span>
                   </div>
               </div>
           </div> -->
           
           <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red">
                        <i class="fa fa-user-plus"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">累计用户</span>
                        <span class="info-box-number">{$channel.usersum}</span>
                    </div>
                </div>
            </div>

       </div>
    </if>

    <!--affiche start-->
    <if condition = "$ischannel eq 1">
    <div class="row">
		<if condition="$is_mobile eq 1">
			<div class="col-md-3 col-sm-6 col-xs-12" style="width:95%;margin-left:10px;">
		<else/>
			<div class="col-md-6" style="width: 49%;margin-left:30px;">
		</if>
            <div class="box box-info">
                <div class="box-body">
                    <div class="box-content">
                        <h3 class="text-center">
                            <b>『{:date('Y-m-d',$affInfo['addtime'])}』{$affInfo.title}</b>
                        </h3>
                        <div style="font-size:18px;width:90%;margin-left: 4%;margin-bottom: 30px;padding: 10px;" class="text-left">
                            {$affInfo.content}
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<if condition="$is_mobile eq 1">
			<div class="col-md-3 col-sm-6 col-xs-12" style="width: 100%;">
		<else/>
			<div class="col-md-6" style="width: 49%;margin-left: -15px;">
		</if>
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-list"></i>
                            公告列表
							<a href="{:U('Channel/channelAffiche')}"  class="pull-right" style="font-size: 14px;color: #3C8DBC" >
                                更多公告信息
                            </a>
                        </h3>
                    </div>

                    <div class="panel-body">
                        <empty name="affList">
                            <p class="goods_title">抱歉暂时没有相关结果！</p>
                            <else />
                            <form method="post" enctype="multipart/form-data" target="_blank" id="form-pic">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <tbody>
                                        <volist name="affList" id="list">
                                            <tr style="">
                                                <td class="text-left">
                                                    <a href="javascript:void(0);" onclick="affdetail('{:U('Affiche/affDetail',array('id'=>$list['id']))}',800,500)">
                                                        {$list.title}
                                                    </a>
                                                </td>
                                                <td class="text-right">{:date('Y-m-d H:i:s',$list['addtime'])}</td>
                                            </tr>
                                        </volist>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-sm-3 text-left"></div>
                                <div class="col-sm-9 text-right">{$page}</div>
                            </div>
                        </empty>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </if>
    <!--affiche end-->

    <style>#search-form > .form-group{margin-left: 10px;}</style>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <if condition = "$Think.cookie.permissions eq 1">
                <div class="panel panel-default">
                    <div class="panel-heading" id="heading">
                        <h3 class="panel-title">
                            <i class="fa fa-list"></i>
                                渠道列表
                        </h3>
                    </div>

                    <div class="panel-body">
                        <div class="navbar navbar-default">
                            <form action="" id="search-form2" class="navbar-form form-inline" method="post" onsubmit="return false">

                                    <div class="form-group">
                                        <label class="control-label" for="input-order-id">关键词</label>
                                        <div class="input-group">
                                            <input type="text" name="key_word" value="" placeholder="渠道名称" id="input-order-id" class="form-control">
                                        </div>
                                    </div>

                                    <button type="submit" onclick="ajax_get_table('search-form2',1,0)" id="button-filter search-order" class="btn btn-primary">
                                        <i class="fa fa-search"></i> 筛选
                                    </button>

                                    <!--导出记录-->
                                    <a type="submit" href="__CONTROLLER__/outSettlement" style="margin-left: 50px;" id="button-filter search-order" class="btn btn-primary">
                                        <i class="fa fa-sign-out"></i> 导出记录
                                    </a>


                                    <!--一键结算 -->
                                    <!-- <button type="submit" style="margin-left: 50px;" onclick="batSettlement()" id="button-filter search-order" class="btn btn-primary">
                                        <i class="fa fa-cny"></i> 一键结算
                                    </button> -->


                                    <button type="button" onclick="location.href='{:U('Admin/Channel/addEditChannel',array('action' => 'add'))}'" class="btn btn-primary pull-right">
                                        <i class="fa fa-plus"></i>添加新渠道
                                    </button>
                            </form>
                        </div>
                        <if condition = "$Think.cookie.permissions eq 1">
                        <div id="ajax_return"></div>
                        </if>
                    </div>
                </div>
            </if>



        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
    $(document).ready(function()
    {
        // ajax 加载商品列表
        ajax_get_table('search-form2',1);

    });

    // ajax 抓取页面 form 为表单id  page 为当前第几页
    function ajax_get_table(form,page,ischannel)
    {
        cur_page = page; //当前页面 保存为全局变量

        $.ajax(
        {
            type    : "POST",
            url     : "./index.php?m=Admin&c=Channel&a=ajaxChannelList&p="+page,
            data    : $('#' + form).serialize(),// 你的formid
            success : function(data)
            {
                $("#ajax_return").html('');

                $("#ajax_return").append(data);
            },
            error   : function(data)
            {
                alert('error -- data = ' + data.responseText);
            }
        });
    }

    // 删除操作
    function del(id)
    {
        if(!confirm('确定要删除吗?'))
        {
            return false;
        }

        $.ajax(
        {
            url     : "/index.php?m=Admin&c=Channel&a=delChannel&id="+id,
            success : function(v)
            {
                var v =  eval('('+v+')');

                if(v.hasOwnProperty('status') && (v.status == 1))
                {
                    ajax_get_table('search-form2',cur_page);
                }
                else
                {
                    layer.msg(v.msg, {icon: 2,time: 1000}); //alert(v.msg);
                }
            }
        });

        return false;
    }


    //公告信息详情
    function affdetail(url,w,h){
        layer.open({
            type: 2,
            area: [w+'px', h +'px'],
            fix: false, //不固定
            maxmin: true,
            shade:0.4,
            content: url
        });
    }
</script>
</body>
</html>