<include file="Public/min-header" />
<div class="wrapper">
    <include file="Public/breadcrumb"/>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                    <div class="box-body">
                        <div class="box-content">
                            <h3 class="text-center">
                                <b>{$affInfo.title}</b>
                            </h3>
                            <div style="font-size:18px;margin-bottom: 30px;padding: 10px;" class="text-left">
                                {$affInfo.content}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>