


<include file="Public/min-header"/>

<div class="wrapper">

    <include file="Public/breadcrumb"/>


    <style>#search-form > .form-group{margin-left: 10px;}</style>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-list"></i>
                        公告信息
                    </h3>
                </div>

                <div class="panel-body">
                    <div class="navbar navbar-default">
                        <form action="" id="search-form2" class="navbar-form form-inline" method="post" onsubmit="return false">
                            <div class="form-group ">
                                <a href="{:U('Affiche/affAdd')}" class="btn btn-primary pull-left" >
                                    <span>添加公告</span>
                                </a>
                            </div>

                            <div style="text-align: right;float: right; display: inline-table;margin-right: 20px;">
                                <div class="form-group ">
                                    <div class="input-group">
                                        <input type="text" name="keyword" value="{$keyword}" placeholder="请输入关键字" id="input-order-id" class="form-control">
                                    </div>
                                </div>
                                <button type="submit" onclick="this.form.submit()" id="button-filter search-order" class="btn btn-primary">
                                    <i class="fa fa-search"></i>搜索
                                </button>
                            </div>
                        </form>
                    </div>
                    <empty name="affList">
                        <p class="goods_title">抱歉暂时没有相关结果！</p>
                        <else />
                        <form method="post" enctype="multipart/form-data" target="_blank" id="form-pic">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>

                                        <td class="text-center">
                                            
                                        </td>


                                        <td class="text-center">
                                            操作
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="affList" id="list">
                                        <tr style="">
                                            
                                            <td class="text-left" style="padding-left:3em;height:40px;line-height: 40px;font-size:16px;">
                                            {:date('Y-m-d H:i:s',$list['addtime'])}&nbsp;&nbsp;|&nbsp;&nbsp;
                                                <a href="javascript:void(0);" onclick="affdetail('{:U('affDetail',array('id'=>$list['id']))}',800,500)">
                                                    {$list.title}
                                                </a>
                                            </td>
                                            
                                            <td class="text-center">
                                                <a href="{:U('affModify',array('id'=>$list['id']))}" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="修改">
                                                    <span>修改</span>
                                                </a>
                                                <a href="{:U('affDel',array('id'=>$list['id']))}" class="btn btn-info btn-del" data-toggle="tooltip" title="" data-original-title="删除">
                                                    <span>删除</span>
                                                </a>
                                            </td>
                                        </tr>
                                    </volist>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-3 text-left"></div>
                            <div class="col-sm-9 text-right">{$page}</div>
                        </div>
                    </empty>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<script>
        $('.btn-del').click(function (e) {
            e.preventDefault();
            var _this = $(this);
            var url = _this.attr('href');
            console.log(url);
            $.getJSON(url, {}, function(data) {
                if (data.status) {
                    _this.parents('tr').remove();
                    layer.msg(data.msg, {icon: 6});
                } else {
                    layer.msg(data.msg, {icon: 5});
                }
            });
        });
        function affdetail(url,w,h){
            layer.open({
                type: 2,
                area: [w+'px', h +'px'],
                fix: false, //不固定
                maxmin: true,
                shade:0.4,

                content: url
            });
        }

</script>
</body>
</html>